### step1 获取月时间和日期（202304）
### step2 获取文件中含有当月日期的excel
### step3 读取该文件到pandas

In [125]:
import pandas as pd
import os
import datetime
import re

In [126]:
current_date = datetime.datetime.now().strftime('%Y%m')#获取当前年月格式2023xx
# monthfirstday = datetime.datetime.now().strftime('%Y%m%d')
# monthfirstday
today = datetime.datetime.today()
# monthfirstday = datetime.datetime(today.year, today.month, 1, 0, 0, 0).strftime('%Y%m%d %H:%M:%S')
# monthfirstday
# alist = [monthfirstday]
# alist

In [127]:
path1 = r"C:\Users\hank\PythonCode\Monthlybill"
files = os.listdir(path1)

In [128]:
pattern = 'CHW RTU_Monthly Report_'+current_date
pattern

'CHW RTU_Monthly Report_202304'

In [129]:
for f in files:
    if pattern in f :
        path = f
        print(path)
# 模糊查找，文件夹下含有'CHW RTU_Monthly Report_'+current_date的文件

CHW RTU_Monthly Report_20230401000853822.xlsx

In [130]:
filepath = path1+"\\"+path
path0 = r"C:\Users\hank\PythonCode\Monthlybill\CHW RTU_Monthly Report_20230401000853822.xlsx"
print(path0)
print(filepath)

C:\Users\hank\PythonCode\Monthlybill\CHW RTU_Monthly Report_20230401000853822.xlsx
C:\Users\hank\PythonCode\Monthlybill\CHW RTU_Monthly Report_20230401000853822.xlsx

In [131]:
df = pd.read_excel(filepath,
                   sheet_name='Report',
                   header=1,
                   parse_dates=['datetime']
                   )
df.head()
# x = [10,104]
# df.drop(df.columns[x],axis=1,inplace=True)
# df

,datetime,D1_QQ_1150_BTU,D2_QQ_1150_BTU,D3_QQ_1150_BTU,D4_QQ_1150_BTU,D5_QQ_1150_BTU,D6_QQ_1150_BTU,D7_QQ_1150_BTU,D8_QQ_1150_BTU,D1_FT_1110,...,OF_L_LD2,OF_L_LD2_Counter,SA_H_LD1,SA_H_LD1_Counter,SA_H_LD2,SA_H_LD2_Counter,SA_L_LD1,SA_L_LD1_Counter,SA_L_LD2,SA_L_LD2_Counter
0,2023-02-28 23:00:00,kWH,kWH,kWH,kWH,kWH,kWH,kWH,kWH,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-03-01 00:00:00,55496884,46414976,22884310,6300717,10043060,2421921,5881492,1188026,79.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-03-01 01:00:00,55496936,46415020,22884464,6300745,10043060,2421921,5881492,1188026,79.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-03-01 02:00:00,55496972,46415032,22884654,6300766,10043097,2421930,5881492,1188026,69.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-03-01 03:00:00,55496996,46415032,22884826,6300785,10043144,2421933,5881492,1188026,69.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [132]:
df.drop(df.columns[9:105],axis=1,inplace=True)#删除后面的列
df.head()

,datetime,D1_QQ_1150_BTU,D2_QQ_1150_BTU,D3_QQ_1150_BTU,D4_QQ_1150_BTU,D5_QQ_1150_BTU,D6_QQ_1150_BTU,D7_QQ_1150_BTU,D8_QQ_1150_BTU
0,2023-02-28 23:00:00,kWH,kWH,kWH,kWH,kWH,kWH,kWH,kWH
1,2023-03-01 00:00:00,55496884,46414976,22884310,6300717,10043060,2421921,5881492,1188026
2,2023-03-01 01:00:00,55496936,46415020,22884464,6300745,10043060,2421921,5881492,1188026
3,2023-03-01 02:00:00,55496972,46415032,22884654,6300766,10043097,2421930,5881492,1188026
4,2023-03-01 03:00:00,55496996,46415032,22884826,6300785,10043144,2421933,5881492,1188026

In [133]:
# df.rename(columns={'2023-04-01 00:00:00':'time&date'},inplace=True)
# df.columns = list(["date&time",    'D1_QQ_1150_BTU',    'D2_QQ_1150_BTU',
#           'D3_QQ_1150_BTU',    'D4_QQ_1150_BTU',    'D5_QQ_1150_BTU',
#           'D6_QQ_1150_BTU',    'D7_QQ_1150_BTU',    'D8_QQ_1150_BTU'])#重命名列
df.drop(df.index[0],inplace=True)#删除第一行
df.head()

,datetime,D1_QQ_1150_BTU,D2_QQ_1150_BTU,D3_QQ_1150_BTU,D4_QQ_1150_BTU,D5_QQ_1150_BTU,D6_QQ_1150_BTU,D7_QQ_1150_BTU,D8_QQ_1150_BTU
1,2023-03-01 00:00:00,55496884,46414976,22884310,6300717,10043060,2421921,5881492,1188026
2,2023-03-01 01:00:00,55496936,46415020,22884464,6300745,10043060,2421921,5881492,1188026
3,2023-03-01 02:00:00,55496972,46415032,22884654,6300766,10043097,2421930,5881492,1188026
4,2023-03-01 03:00:00,55496996,46415032,22884826,6300785,10043144,2421933,5881492,1188026
5,2023-03-01 04:00:00,55497024,46415032,22885050,6300807,10043150,2421933,5881492,1188026

In [134]:
# daymax = df.groupby(pd.Grouper(key='datetime', axis=0, 
#                       freq='D')).max()
daymin = df.groupby(pd.Grouper(key='datetime', axis=0, 
                      freq='D')).min()
daymin_s = daymin[:-1]
daymin_e = daymin[1:]
daymin_s

,D1_QQ_1150_BTU,D2_QQ_1150_BTU,D3_QQ_1150_BTU,D4_QQ_1150_BTU,D5_QQ_1150_BTU,D6_QQ_1150_BTU,D7_QQ_1150_BTU,D8_QQ_1150_BTU
datetime,,,,,,,,
2023-03-01,55496884,46414976,22884310,6300717,10043060,2421921,5881492,1188026
2023-03-02,55500288,46415060,22891306,6302080,10044208,2422356,5881492,1188026
2023-03-03,55505948,46415856,22900072,6304430,10045909,2422911,5881492,1188026
2023-03-04,55511680,46417056,22910006,6306806,10047520,2423491,5883169,1188237
2023-03-05,55516988,46417840,22922478,6308722,10049092,2423836,5884074,1188425
2023-03-06,55522276,46419848,22935718,6311409,10050689,2424262,5885149,1188549
2023-03-07,55526892,46422496,22945086,6314010,10052335,2424769,5886219,1188696
2023-03-08,55532340,46425220,22954904,6316177,10054400,2425366,5887517,1188880
2023-03-09,55540016,46429488,22967910,6318523,10056643,2425885,5888701,1189044
2023-03-10,55548092,46436024,22982102,6321385,10058964,2426353,5890023,1189214
2023-03-11,55556176,46442308,22994206,6325237,10061780,2426845,5891369,1189361
2023-03-12,55566364,46450644,23010954,6329583,10065106,2427407,5892857,1189542
2023-03-13,55575092,46455996,23023814,6332713,10066615,2427781,5893997,1189695
2023-03-14,55582164,46460700,23035186,6334309,10067892,2428317,5894897,1189847
2023-03-15,55589552,46466084,23045380,6336190,10069648,2428697,5896054,1189994
2023-03-16,55597780,46471720,23057902,6338514,10072587,2429124,5897553,1190213
2023-03-17,55605480,46477508,23068134,6340621,10074909,2429504,5898967,1190360
2023-03-18,55612108,46483124,23080370,6342603,10076919,2429998,5900158,1190407
2023-03-19,55619576,46488452,23088734,6344877,10078604,2430382,5901546,1190407
2023-03-20,55627564,46495108,23098188,6347328,10079783,2430654,5903230,1190407
2023-03-21,55634692,46501148,23107890,6348881,10081247,2431020,5904573,1190407
2023-03-22,55641708,46506500,23118364,6351114,10082635,2431562,5905779,1190407
2023-03-23,55650356,46513472,23130090,6353290,10085771,2432042,5907076,1190407
2023-03-24,55658248,46520056,23139652,6355272,10088521,2432222,5908605,1190407
2023-03-25,55665792,46526008,23149978,6356908,10089712,2432717,5910114,1190407
2023-03-26,55673196,46532400,23159846,6358613,10090907,2433142,5911353,1190407
2023-03-27,55680468,46537456,23168428,6360317,10092214,2433353,5912392,1190407
2023-03-28,55687440,46542944,23175444,6361877,10093815,2433672,5913573,1190407
2023-03-29,55694360,46547376,23183594,6363336,10095428,2434148,5914687,1190407
2023-03-30,55700988,46552668,23191390,6364848,10096947,2434535,5915993,1190407
2023-03-31,55708092,46557728,23202896,6366291,10099757,2434961,5917447,1190407

In [135]:
data_0 = df[df["datetime"].dt.hour == 0]  # .dt获取每天某小时的数据
data_0_s = data_0[:-1]
data_0_e = data_0[1:]
data_0_e.reset_index(inplace=True, drop=True)
data_0_e.index = data_0_e.index +1
data_0_s.reset_index(
    inplace=True, drop=True
)  # 为了方便用pandas的减法，需要将index重置，这里用到reset_index
# data_0_e=data_0_e.drop(columns=[Index])
# data_0_s=data_0_s.drop(columns=[Index])
data_0_s.index = data_0_s.index +1
dayuse = (
    data_0_e
    - data_0_s
)
# dayuse.drop(dayuse['datetime'],axis=1,inplace=True)
dayuse.head()

,datetime,D1_QQ_1150_BTU,D2_QQ_1150_BTU,D3_QQ_1150_BTU,D4_QQ_1150_BTU,D5_QQ_1150_BTU,D6_QQ_1150_BTU,D7_QQ_1150_BTU,D8_QQ_1150_BTU
1,1 days,3404,84,6996,1363,1148,435,0,0
2,1 days,5660,796,8766,2350,1701,555,0,0
3,1 days,5732,1200,9934,2376,1611,580,1677,211
4,1 days,5308,784,12472,1916,1572,345,905,188
5,1 days,5288,2008,13240,2687,1597,426,1075,124

In [136]:
# dayuse.index = daymin_s.index

dayuse.reset_index(drop=True,inplace=True)
dayuse.drop(columns=['datetime'],axis=1,inplace=True)
dayuse.set_index(daymin_s.index,inplace=True,verify_integrity=True)
dayuse

,D1_QQ_1150_BTU,D2_QQ_1150_BTU,D3_QQ_1150_BTU,D4_QQ_1150_BTU,D5_QQ_1150_BTU,D6_QQ_1150_BTU,D7_QQ_1150_BTU,D8_QQ_1150_BTU
datetime,,,,,,,,
2023-03-01,3404,84,6996,1363,1148,435,0,0
2023-03-02,5660,796,8766,2350,1701,555,0,0
2023-03-03,5732,1200,9934,2376,1611,580,1677,211
2023-03-04,5308,784,12472,1916,1572,345,905,188
2023-03-05,5288,2008,13240,2687,1597,426,1075,124
2023-03-06,4616,2648,9368,2601,1646,507,1070,147
2023-03-07,5448,2724,9818,2167,2065,597,1298,184
2023-03-08,7676,4268,13006,2346,2243,519,1184,164
2023-03-09,8076,6536,14192,2862,2321,468,1322,170
2023-03-10,8084,6284,12104,3852,2816,492,1346,147
2023-03-11,10188,8336,16748,4346,3326,562,1488,181
2023-03-12,8728,5352,12860,3130,1509,374,1140,153
2023-03-13,7072,4704,11372,1596,1277,536,900,152
2023-03-14,7388,5384,10194,1881,1756,380,1157,147
2023-03-15,8228,5636,12522,2324,2939,427,1499,219
2023-03-16,7700,5788,10232,2107,2322,380,1414,147
2023-03-17,6628,5616,12236,1982,2010,494,1191,47
2023-03-18,7468,5328,8364,2274,1685,384,1388,0
2023-03-19,7988,6656,9454,2451,1179,272,1684,0
2023-03-20,7128,6040,9702,1553,1464,366,1343,0
2023-03-21,7016,5352,10474,2233,1388,542,1206,0
2023-03-22,8648,6972,11726,2176,3136,480,1297,0
2023-03-23,7892,6584,9562,1982,2750,180,1529,0
2023-03-24,7544,5952,10326,1636,1191,495,1509,0
2023-03-25,7404,6392,9868,1705,1195,425,1239,0
2023-03-26,7272,5056,8582,1704,1307,211,1039,0
2023-03-27,6972,5488,7016,1560,1601,319,1181,0
2023-03-28,6920,4432,8150,1459,1613,476,1114,0
2023-03-29,6628,5292,7796,1512,1519,387,1306,0
2023-03-30,7104,5060,11506,1443,2810,426,1454,0
2023-03-31,7984,5368,10596,1447,2848,452,1464,0